.popUpElement {
	z-index: 10000;
	background: black;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	opacity: 0.3;
	font-family: "Roboto", sans-serif;
}

.popUpElementWrapper {
	z-index: 10001;
	background-color: white;
	width: 320px;
	height: 150px;
	border-radius: 10px;
	color: black;
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px;
}

.popUpElementHeader {
	font-size: 18px;
}

.popUpElementText {
	margin: 10px 0px;
}

.popUpElementWrapper button {
	cursor: pointer;
	padding: 7px;
	font-size: 17px;
	width: 120px;
	background: none;
	font-weight: bold;
	background: #d6d6d6;
	color: black;
	margin-left: 16px;
	/* background: ${({ del }) => (del ? "#703be7" : "#d6d6d6")}; */
	/* color: ${({ del }) => (del ? "white" : "black")}; */
	/* margin-left: ${({ del }) => (del ? "15px" : "16px")}; */
	border: none;
	border-radius: 5px;
}
